{% extends '../templates/base/base.html' %}

{% block title %}Homepage{% endblock %}

{% block anjay %}   
<div class="flex justify-center w-full mt-3">
    <div class="w-full max-w-4xl bg-white shadow-lg rounded-lg overflow-hidden ">
        <div class="bg-blue-600 text-white text-lg font-semibold px-6 py-4">
                Daftar Anggota Tim
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full border-collapse">
                <thead>
                        <tr class="bg-blue-500 text-white">
                            <th class="px-6 py-3 text-center uppercase font-semibold ">Nomor</th>
                            <th class="px-6 py-3 text-left uppercase font-semibold">Nama</th>
                            <th class="px-6 py-3 text-left uppercase font-semibold">NIM</th>
                            <th class="px-6 py-3 text-left uppercase font-semibold">Dvisi</th>
                            <th class="px-6 py-3 text-left uppercase font-semibold">Action</th>
                        </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for item in items %}
                    <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 text-center">{{ loop.index }}</td>
                        <td class="px-6 py-4">{{ item['nama'] }}</td>
                        <td class="px-6 py-4">{{ item['NIM'] }}</td>
                        <td class="px-6 py-4">{{ item['divisi'] }}</td>
                        <td class="px-6 py-4">
                            <button class="bg-amber-200 px-2 py-1 rounded-lg hover:scale-105 transition">Informasi</button>
                            <button class="bg-green-300 px-2 py-1 rounded-lg hover:scale-105 transition">Data</button>
                        </td>
                    </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
