{% extends 'base/base.html' %}
{% block title %}Testing{% endblock %}
{% block anjay %}
<div class="w-full max-w-4xl bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="bg-blue-600 text-white text-lg font-semibold px-6 py-4">
        Daftar Mahasiswa
    </div>
    <div class="overflow-x-auto">
         
        <table class="min-w-full border-collapse">
            <thead>
                <tr class="bg-blue-500 text-white">
                    <th class="px-6 py-3 text-center uppercase font-semibold ">Nomor</th>
                    <th class="px-6 py-3 text-left uppercase font-semibold">Nama</th>
                    <th class="px-6 py-3 text-left uppercase font-semibold">NIM</th>
                    <th class="px-6 py-3 text-left uppercase font-semibold">Prodi</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                <tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 text-center">1</td>
                    <td class="px-6 py-4">Satria</td>
                    <td class="px-6 py-4">222410100152</td>
                    <td class="px-6 py-4">Sistem Informasi</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}