{% extends 'base/base.html' %}
{% block title %}Testing{% endblock %}
{% block anjay %}
<div class="w-full max-w-4xl bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="bg-blue-600 text-white text-lg font-semibold px-6 py-4">
        Daftar Mahasiswa
    </div>
    <div class="overflow-x-auto">
         
        <table class="min-w-full border-collapse">
            <thead>
                <tr class="bg-blue-500 text-white">
                    <th class="px-6 py-3 text-center capitalize font-semibold ">Nomor</th>
                    <th class="px-6 py-3 text-left capitalize font-semibold">Nama Divisi</th>
                    <th class="px-6 py-3 text-left capitalize font-semibold">Daftar Anggota</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {% for i in divisi %}
                <tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 text-center">{{ loop.index }}</td>
                    <td class="px-6 py-4">{{ i.nama }}</td>
                    <td class="px-6 py-4 text-center">{{ i.anggota | map(attribute='nama') | join(', ') }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}