<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link href="{{ url_for('static', filename='css/style.css') }}?v={{ config['SEND_FILE_MAX_AGE_DEFAULT'] }}" rel="stylesheet">
</head>
<body >
    <nav class="sticky top-0 bg-blue-600 text-white p-4 shadow-md flex items-center">
        <h1 class="text-xl font-bold mr-3.5">Dasboard</h1>
        <h1 class="text-md font-bold ">
            <a href="{{ url_for('routes.homepage') }}">Homepage</a>
            <a href="{{ url_for('routes.daftar_tim') }}">Daftar Tim</a>
            <a href="{{ url_for('routes.daftar_divisi') }}">Testing</a>
            <a href="{{ url_for('routes.register') }}">Register</a>
        </h1>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="w-full max-w-md mx-auto mt-4 px-4 py-3 rounded-lg shadow-md 
                        {% if category == 'success' %} bg-green-100 text-green-800 
                        {% elif category == 'danger' %} bg-red-100 text-red-800 
                        {% else %} bg-gray-100 text-gray-800 {% endif %}">
                <div class="flex justify-between items-center">
                    <span class="font-semibold">{{ message }}</span>
                    <button class="text-xl font-bold leading-none" onclick="this.parentElement.parentElement.remove()">&times;</button>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block anjay %}
        
    {% endblock %}
</body>
</html>


