[connections.nama_koneksi]
dialect = "mysql"
host = "localhost"
port = 3306
database = "nama_databasemu"
username = "root"
password = ""

[connections.nama_koneksi_ke_spreadsheet]
spreadsheet = "link_spreadsheet"

[connections.nama_koneksi_ke_spreadsheet]
spreadsheet = "link_spreadsheet"

[auth]
redirect_uri = "http://localhost:8501/oauth2callback" # Ngga Usah Diganti
cookie_secret = "Cari di google cloud"

[auth.google]
client_id = "Cari di google cloud"
client_secret = "Cari di google cloud"
server_metadata_url = "https://accounts.google.com/.well-known/openid-configuration" # Ngga Usah Diganti
